body {
  margin: 0;
  font-family: sans-serif;
  background-color: #FDFBF7;
  color: #4A148C;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  margin-top: 20px;
}

button {
  background: #4A148C;
  color: white;
  padding: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}